################################################################################
#                                                                              #
#                                 CODEOWNERS                                   #
#                                                                              #
################################################################################

# Remove the line below for new projects. This is only for code ownership of the template and should not be included in new mia projects.
* @vu-platform/platform

# Uncomment the lines below and add appropriate users or teams

######################################################################

# This line specifies the architect overseeing this MIA project. Assign the appropriate GitHub username or team for the project architect. (asterisk must remain to provide global ownership ex: * @username )
# * @project-architect

######################################################################

# The following lines allow developers to push changes to the overrides file with only the approval of team members, without waiting for an architect.

# deployments/dev/override.yaml @dev-team @or-individuals
# deployments/uat/override.yaml @dev-team @or-individuals

#######################################################################

# The following lines allow developers to push changes to proxy configurations with only the approval of team members, without waiting for an architect.

# deployments/dev/proxies.yaml @dev-team
# deployments/uat/proxies.yaml @dev-team

#######################################################################

# For more information about codeowners:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
